// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.nav-pills{
  li{
    a{
      border-radius: 0 0 6px 6px;
      color: #333 !important;
    }
    a:focus, a:visited{
      color: #333 !important;
      background-color: #C0C0C0 !important;
    }
  }
}

li.active{
  a{
    color: #333 !important;
    background-color: #C0C0C0 !important;
  }
}
.top_align{
  position: relative;
  top: -32px;
}

.content_pic_l{
  width: 20%;
  vertical-align: text-top;
  float: left;
  margin: 5px 10px;
}

.content_pic_r{
  width: 20%;
  vertical-align: text-top;
  float: right;
  margin: 5px 10px;
}

.created{
  text-align:right;
}
.glyphicon-chevron-down {
  font-size: 8px;
}

.undotted{
  list-style: none outside none;
  padding-left: 5px;
}

footer{
  background-color: #fff;
  border-top: 1px solid #ddd;
}
header{
  background: linear-gradient(180deg, rgba(255,255,255,0) 0, rgba(255,255,255,0) 71%, rgba(255,255,255,1) 90%, rgba(255,255,255,1) 100%), url("img/back.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 400px;
}

.hirdetes{
  margin: 5px;
  border: 1px solid black;
  width: 100%;
  th {
    text-align: center;
    font-size: 16pt;
    padding: 5px;
  }
  td{
    border: 1px solid black;
    padding: 5px 0px 5px 10px;
  }
}

.hirdetes_lista{
  input{
    width: 100%;
  }
}

.mise_lista{
  input, table{
    width: 100%;
  }
  th{
    text-align: center;
  }
}